<% if !flash.empty? %>
    <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
            <%= content_tag :div, :class => "alert alert-#{name}", :role => "alert" do %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= msg %>
            <% end %>
        <% end %>
    <% end %>
    <% flash.clear %>
<% end %>
